body {
  font-family: Roboto;
}
a {
  text-decoration: none;
  color: grey;
  margin: 0 20px;
  font-size: 20px;
}
nav {
  display: flex;
  background-color: whitesmoke;
  justify-content: start;
  padding-left: 300px;
  align-items: center;
}

header {
  background-image: url(../imgs/img-main.jpeg);
  background-size: cover;
  height: 300px;
  background-position: center;
  display: flex;
  justify-content: center;
  align-content: center;
  align-items: center;
}
header h4 {
  color: white;
  font-size: 50px;
}
.bold {
  font-weight: bold;
  color: black;
  font-size: 25px;
}
main h2 {
  padding-left: 300px;
}
.card {
  border: solid 1px;
  display: flexbox;
  max-height: fit-content;
  max-width: 409px;
  align-items: center;
  justify-content: center;
  border-radius: 2%;
  border-color: grey;
  font-size: medium;
  justify-self: center;
}
.card p {
  padding: 10px;
  display: flex;
  margin: 0;
  text-wrap: wrap;
}
.background {
  height: 230px;
  border-top-left-radius: 2%;
  border-top-right-radius: 2%;
}
.icon {
  max-height: 18px;
  margin: 0 5px;
}
.main {
  padding: 0px 300px;
  display: flex;
  justify-content: space-between;
}
button {
  color: white;
  background-color: black;
  margin: 20px 300px;
  border-radius: 2%;
}
.right {
  filter: invert(55%) sepia(95%) saturate(5000%) hue-rotate(90deg);
}
.wrong {
  filter: brightness(0) saturate(100%) invert(20%) sepia(100%) saturate(7500%)
    hue-rotate(0deg);
}
.variableSmoke {
  padding: 10px;
}
.variablePets {
  padding: 10px;
}
